<div class="menu-modal-window" style="display: none;">
    <a href="/edit/<%= _id %>" class="modal-window-btn edit">
        Edit
    </a>
    <button onclick = "deleteItem('<%=_id %>')" class="modal-window-btn delete">
        Delete
    </button>
</div>