<button type="submit"  class="add-btn">
    <% if(icon.length > 0) { %>
        <img src= <%- icon %> alt="">
    <% } else { %>
    <% } %>

    <% if(title.length > 0) { %>
        <div class="btn-title"><%= title %></div>
    <% } else { %>
    <% } %>
</button>