<div class="header base-width">
    <div class="header-top base-right-left-padding">
        <div class="header-logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="header-search">
            <%- include('./input.ejs', {type: 'test', placeholder: 'Search ...', name: '', value: ''}) %>
        </div>
    </div>
    <div class="header-bottom base-right-left-padding">
        <span> <a href="/">Home </a>> <%- title %></span>
    </div>
</div>