<div class="top product-actions">
    <div>
        <div class="product-discount">
            <%- disconut %>%
        </div>
    </div>
    <div class="product-icon">
        <img src="/images/icons/like-icon.png" alt="">
    </div>
</div>