<div class="porduct-item">
    <div class="product-container">
        <div class="top">
            <div>
                <div class="product-discount">
                    25%
                </div>
            </div>
            <div class="product-icon">
                <img src="/images/icons/like-icon.png" alt="">
            </div>
        </div>
        <div class="product-img">
            <img src="/images/products/001.png" alt="">
        </div>
        <div class="bottom">
            <div class="product-title">
                Modern Cheirs
            </div>
            <div class="product-price">
                250 $
            </div>
        </div>
        <div class="product-menu">
            <img src="/images/icons/dot-menu.png" alt="">
        </div>
    </div>
    <div class="add-btn">
        <img src="/images/icons/add-btn-icon.png" alt="">
    </div>
</div>