<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Product page'}) %>
<body>
    <%- include('./partials/header.ejs', {title: 'error'}) %>
    <div class="main  base-width base-right-left-padding">
        <div class="error-page-container">
           <h1>404 Not Found</h1>
           <a href="/">Go to main page</a>
        </div>
    </div>
</body>
</html>